body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

input, button, a {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

button, .btn {
    background: #1fbfc2;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover, .btn:hover {
    background: rgb(34, 155, 169);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
}