
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", Century;
    background: url('img/bg.jpg') center/cover no-repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

input, button, a {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

button, .btn {
    background: #1fbfc2;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover, .btn:hover {
    background: rgb(34, 155, 169);
}

/* Contact Form Styling */
.contact-container {
    padding: 30px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    top: 50%; /* Adjust this value to move it slightly down */
    left: 50%;
    transform: translate(-50%, -50%);
}
